node_modules/
dist/
coverage/
package-lock.json
.DS_Store
.env

build

dotenv/prod.env
dotenv/.env
prisma/.env
schema.dbml

yarn-error*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions